.principal_footer{
margin-top: 100px;
width: 100%;
background: rgb(20,0,36);
background: linear-gradient(90deg, rgba(20,0,36,1) 31%, rgba(6,6,27,1) 62%, rgba(2,19,19,1) 100%);
}

.contact_footer{
background-color: var(--background-color);
margin: 1rem;
display: flex;
flex-wrap: wrap;
}

.text_info_footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 0.3rem;
}

.contact_inf{
    font-size: 20px;
    
}

.input_and_btn{
display: flex;
}

.button_suscrib{
background-color: salmon;    
}