.principal_footer{
margin-top: 100px;
width: 100%;
background: rgb(20,0,36);
background: linear-gradient(90deg, rgba(20,0,36,1) 31%, rgba(6,6,27,1) 62%, rgba(2,19,19,1) 100%);
margin-bottom: 2rem;
}

.contact_footer{
background-color: var(--background-color);
margin: 1rem;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
gap: 1rem;
padding-bottom: 2rem;
}

.text_info_footer{
display: flex;
flex-direction: column;
justify-content: center;
gap: 1rem;
padding: 0.3rem;
}

.contact_inf{
font-size: 22px;
font-weight: bold;
}

.infor_btn_input{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input_and_btn{
display: flex;
justify-content: center;
}


#email_input{
border: 1px solid rgb(95, 92, 92);
width: 280px;
}


.button_suscrib{
background-color: salmon; 
padding: 0.4rem 1.2rem 0.4rem 1.2rem;
}

.button_suscrib:hover{
    background-color: rgb(196, 85, 73); 
    cursor: pointer;
    }

.social_ico{
display: flex;
flex-wrap: wrap;
gap: 1rem;
justify-content: center;
align-items: center;
}

.social_tt{
    color: aliceblue;
}