.navbar{
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.navbar-brand1{
  font-size: 22px;
  font-family: 'ADLaM Display';
  color: brown;
}

.container-fluid{
  display: flex;
  justify-content: space-evenly;
}

.navbar-toggler{
  margin: 0.4rem;
}

.navbar-toggler-icon{
  width: 15px;
  height: 20px;
}


@media (min-width: 768px){

  .navbar{
    position: fixed;
    width: 100%;
    z-index: 9999;
    height: 60px;
  }

  .container-fluid, .collapse, .navbar-nav{
    display: flex;
    justify-content: end;
    margin-left: 100px;
    margin-right: 100px;
  }

  .navbar-brand1{
    font-size: 1.8rem;
  }

  .navbar-nav{
    font-size: 1.2rem;
    display: flex;
    gap: 2rem;
  }

  .nav-link {
    position: relative;
    text-decoration: none;
    color: inherit;
  }
  
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: transparent; 
    box-shadow: 0 0 5px purple; 
    transition: width 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease; 
  }
  
  .nav-link:hover::before {
    width: 100%;
    background-color: purple; 
    box-shadow: 0 0 50px purple; 
  }

}