.home_principal{
width: 100%;
overflow: hidden;
top: 60px;
position: relative;
display: flex;
flex-direction: column;
align-items: center;
}



.img__banner{

height: auto;
width: fit-content;
z-index: 0;
}