.home_principal{
width: 100%;
overflow: hidden;
top: 60px;
position: relative;
display: flex;
flex-direction: column;
align-items: center;
}

.section_banner{
position: absolute;
}


.img__banner{

height: 100vh;
width: fit-content;
position: relative;
}