
.banner_web{
    height: 250px;
    opacity: 0.4;
}

.section_dev{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 3rem;
}

.title_web_dev{
    font-size: 22px;
    color: var(--text-color-white);
}

.desc_serv_dev{
    color: var(--text-color-white);
}

.img_circle{
    border-radius: 10% 80% 70% 20% / 70% 20% 70% 20%;
    width: 300px;
    border: 1px solid rgb(83, 30, 231);
}

.icons_web_services{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.web_logo_description{
    width: 70px;
    max-width: 70px;
}