
.section_dev{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
}

.desc_serv_dev{
color: var(--text-color-white);
}

.img_circle{
width: 250px;
border-radius: 100%;
border: 10px solid white;
border-style:double;
}
