.principal_about{
color: var(--text-color-white);
width: 100%;
height: 200px; ;
padding: 0.8rem;
}

.description_about{
display: flex;
flex-direction: column;
gap: 2rem;

margin-left: 0.5rem;
}

.title_about2{
font-size: 35px;
font-weight: bold;
}

.point_tt{
font-size: 50px;
color: var(--navbar-color);
font-weight: bold;
}

@media screen and (min-width: 768px){
.title_about2{
font-size: 60px;
font-weight: bold;
}

.description_about{

    
    margin-left: 2rem;
    }

.point_tt{
font-size: 100px;

}

.text_description{
    font-size: 25px;
}

}