.capacity_services{
display: flex;
flex-wrap:wrap ;
}

.section_capacity{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: var(--background-color);
width: 380px;
}


.bx-check-square{
color: var(--navbar-color);
}