.principal_capacity{
    width: 100%;
}

.section_pp_cap{
color: var(--background-color);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 4rem 1rem 4rem 1rem;
gap: 1rem;
text-align: center;
}

.section_pp_cap :nth-child(1){
font-size: 32px;
font-weight: bold;
}


.capacity_services{
display: flex;
flex-wrap:wrap;
align-items: center;
justify-content: center;
gap: 2rem;
}

.section_capacity{
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
background-color: var(--background-color);
width: 100%;
gap: 2rem;
}

.section__serv_img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 500px;
    margin-top: 1rem;
}


.bx-check-square{
color: var(--navbar-color);
font-size: 50px;
}

.img_capacity{
min-height: 300px;
width: 300px;
max-width: 300px;
object-fit: cover;
border-radius: 10px;
transition: transform 0.5s ease;
}

.img_capacity:hover {
    transform: rotateY(180deg);
  } 

.descr_title{
font-size: 22px;
font-weight: bold;
padding: 1rem;
color: var(--navbar-color);

}

.check_item{
display: flex;
align-items: center;
font-size: 17px;
gap: 0.5rem;
}

@media screen and (min-width: 768px){

    .bx-check-square{
        color: var(--navbar-color);
        font-size: 40px;
        display: inline-block;
        }
}