.section_pp_cap{
color: var(--background-color);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 4rem 1rem 4rem 1rem;
gap: 1rem;
text-align: center;
}

.section_pp_cap :nth-child(1){
font-size: 32px;
font-weight: bold;
}


.capacity_services{
display: flex;
flex-wrap:wrap;
align-items: center;
justify-content: center;
gap: 2rem;
}

.section_capacity{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: var(--background-color);
width: 380px;
padding-bottom: 1rem;
}





.bx-check-square{
color: var(--navbar-color);
font-size: 50px;
}

.img_capacity{
width: 350px;
border-radius: 20px;
}

.descr_title{
font-size: 22px;
font-weight: bold;
padding: 1rem;
color: var(--navbar-color);

}

.check_item{
display: flex;
align-items: center;
font-size: 17px;
gap: 0.5rem;
}

@media screen and (min-width: 768px){

    .bx-check-square{
        color: var(--navbar-color);
        font-size: 40px;
        display: inline-block;
        }
}