.project-modal{
position: fixed;
top: 50%;
}

.img-modal{
width: 380px;
}

.modal-descr{
color: var(--text-color-white);
font-size: 22px;
}

.dc-modal{
font-size: 18px;
}

.btn-modal{
background-color: var(--text-color-white);
width: 100px;
}


.modal-content{
display: flex;
flex-wrap: wrap;
gap: 1rem;
justify-content: center;
}