.sectionproyects{
color: var(--background-color);
font-size: 30px;
font-weight: bold;
display: flex;
align-items: center;
justify-content: center;
margin-top: 2rem;
margin-bottom: 2rem;
width: 100%;
}

.list_proyects{
display: flex;
flex-wrap: wrap;
gap: 2rem;
}

.pp_tt2{
text-align: center;

}

.pp_tt{
color: var(--background-color);
display: flex;
align-items: center;
flex-wrap: wrap;
justify-content: center;
}

.imgproject{
    width: 350px;
    transition: transform 0.3s ease-in;
}

.imgproject:hover{
transform: scale(1.03);
cursor: pointer;
}