.principal_services{
color: var(--text-color-white);
display: flex;
flex-wrap: wrap;
flex-direction: row;
align-items: center;
justify-content:space-around ;
gap: 3rem;
font-size: 30px;
margin-top: 20px;
}

.tt_section{
font-weight: bold;
font-size: 32px;
}