.principal_support{
display:flex ;
flex-wrap: wrap;
align-items: center;
justify-content: center;
width: 100%;
gap: 2rem;
margin-top: 3rem;
}

.section_support{
color: var(--text-color-white);
display: flex;
flex-direction: column;
font-size: 25px;
}

.title_text{
color: red;
}