.principal_support{
display:flex ;
flex-wrap: wrap;
align-items: center;
justify-content: center;
width: 100%;
margin-top: 3rem;
gap: 2rem;
}

.section_support{
color: var(--text-color-white);
font-size: 22px;
width: 250px;
}

.title_text{
color: var(--navbar-color);
}

.img_google{
   width: 150px;
}

@media screen and (min-width: 768px){

.principal_support{

gap: 5rem;
}

.img_google{
   width: 150px;
}

}